body {
    font-family: "Archivo Narrow", sans-serif;
    color: white;
}

header {
    background-image: url("1_yCbvj1kQwR1QiamJYuJS4Q.png");
    text-align: center;
    padding-top: 98px;
    height: 382px;
}

h1 {
    font-size: 80px;
    margin: 0;
    padding-top: 52px;
}

h2 {
    font-size: 30px;
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 40px;
    margin: 0%;
    padding: 10px;
}

p {
    font-size: 18px;
    padding-top: 0px;
}

.column-container {
    margin: auto;
    width: 960px;
}

.one {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: seagreen;
}

.two {
    padding-top: 30px;
    padding-bottom: 58px;
    background-color: gray;
} 

.tres {
    padding-top: 31px;
    background-color: lightcoral;
    height: 375px;
}

.foot {
    padding-top: 22px;
    background-color: royalblue;
    height: 72px;
}

.copy {
    font-size: 17.5px;
}

.ochre {
    float: right;
    margin: 25px 0px 25px 25px;
}

.colors {
    display: flex;
    flex-wrap: wrap;
}

li {
    padding-bottom: 0px;
    width: 480px;
}

.pic {
    float: left;
    padding-right: 15px;
    padding-top: 20px;
    margin: 0;
}

.pt {
    font-size: 21px;
    font-weight: 700;
    padding-top: 10px;
    margin: 0;
}

.label {
    padding-right: 20px;
}


ul {
    list-style-type: none;
    margin: 0%;
    padding: 0;
}

.center {
    text-align: center;
    font-size: 26px;
    margin: auto;
    width: 730px;
    padding-top: 24px;
}